name: Automerge

on:
  workflow_run:
    workflows: ['CI-PR']
    types:
      - completed
  check_suite:
    types:
      - completed
  pull_request_review:
    types:
      - submitted

jobs:
  automerge:
    if: github.event.review.state == 'approved' || !github.event.review
    runs-on: ubuntu-latest
    env:
      meilcli_bot: ${{ secrets.MEILCLI_BOT }}
    steps:
      - uses: reitermarkus/automerge@v2
        if: env.meilcli_bot != ''
        with:
          token: ${{ secrets.MEILCLI_BOT }}
          merge-method: merge
